/Figma Pages
/Hackfest Abstract.pdf
/youSupply_SRS_DFD.docx
/youSupply_SRS_DFD.pdf
/backend/node_modules
/backend/.env
/frontend/.env
frontend/windows/flutter/generated_plugins.cmake
frontend/windows/flutter/generated_plugin_registrant.cc
